<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple web application done in Ruby on Rails to showcase my knowledge ! </p>
    <hr class="my-4">
    <p> I love practicing in order to get better in web development ! </p>
    <p class="lead">
      <%= link_to 'Articles', articles_path %>    </p>
  </div>
</div>
